# CMake build directory
build/
renders/
external/tracy/profiler/build/

# IDE/user-specific stuff
*.user
*.swp
*.suo
*.vcxproj*
*.xcodeproj*
CMakeCache.txt
CMakeFiles/
.DS_Store
.vscode
notes.txt

# Compiled objects/binaries
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
