# CMake build directory
build/
renders/

# IDE/user-specific stuff
*.user
*.swp
*.suo
*.vcxproj*
*.xcodeproj*
CMakeCache.txt
CMakeFiles/
.DS_Store

# Compiled objects/binaries
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
